<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="SistemaBookShare.Properties.Settings.BookShareConnectionString"
            connectionString="Data Source=.;Initial Catalog=BookShare;User ID=sa;Password=1234"-->
		<add name="SistemaBookShare.Properties.Settings.BookShareConnectionString"
            connectionString="workstation id=BookShare.mssql.somee.com;packet size=4096;user id=BookShare123_SQLLogin_1;pwd=i5n6kfvzjw;data source=BookShare.mssql.somee.com;persist security info=False;initial catalog=BookShare;TrustServerCertificate=True"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>